.lead {
  max-width: 984px;
  min-width: 320px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 0 148px 0;
}

@media screen and (max-width: 1279px) {
  .lead {
    padding: 0 48px 0;
  }
}

@media screen and (max-width: 1023px) {
  .lead {
    padding: 0;
  }
}