.cover {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  background-image: url('../../images/cover__do-baikala.jpg');
  background-repeat: no-repeat;
  background-position: center;

  width: 1184px;
  height: 740px;
  padding: 0 48px 0;
}